body {
    margin: 0;
}

.top-nav {
    top: 0;
    position: fixed;
    width: 100%;
    background: #191919;
    height: 60px;
    z-index: 5;
}

.nav-behance-logo {
    position: absolute;
    align-items: center;
    height: 100%;
    display: flex;
    padding: 0 10px;
}

.nav-main .nav-behance-logo {
    width: auto;
}

.nav-mobile .nav-behance-logo {
    justify-content: center;
    width: 100%;
}

.hamburger-icon {
    display: flex;
    position: absolute;
    height: 100%;
    align-items: center;
    padding: 0 10px;
}

.nav-main li {
    font-size: 18px;
    color: #e1e1e1;
}

.nav-main li:hover {
    color: #ffffff;
    cursor: pointer;
}

.nav-items {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

li.nav-item {
    padding: 0 10px;
    line-height: 60px;
    display: inline-block;
}

.btn-sign-up {
    background-color: #0057ff;
    color: #ffffff;
    padding: 10px;
    border-radius: 45px;
    transition: background-color 1s;
}

.btn-sign-up:hover {
    background-color: #003ecb;
}

.nav-services {
    padding: 0 10px;
    list-style: none;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    line-height: 60px;
}

.nav-mobile {
    display: none;
}

.top-header {
    width: 100%;
    height: 210px;
    background-image: url(../images/header-img.jpg);
    position: absolute;
    top: 60px;
    text-align: center;
}

.top-header h1 {
    color: #ffffff;
    margin: 0 auto;
    font-weight: bold;
    font-size: 70px;
    font-family: sans-serif;
    margin-top: 25px;
}

.nav-secondary {
    width: 100%;
    height: 60px;
    background: #ffffff;
    text-align: center;
    position: sticky;
    top: 60px;
    box-shadow: 0 0 4px rgba(25,25,25,.1);
    margin-top: 270px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    z-index: 5;
}

.nav-secondary span {
    color: #191919;
    line-height: 60px;
    padding: 0 10px;
    font-size: 18px;
}

.nav-secondary span:hover {
    color: #0057ff;
    cursor: pointer;
}

.nav-secondary span:first-child {
    margin-left: auto;
}

.nav-secondary span:last-child {
    margin-right: auto;
}

.main-content {
    padding: 50px 20px;
}

.content-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.content-item {
    padding: 10px;
    text-align: center;
}

.content-item img {
    width: 395.5px;
    max-width: 100%;
}

.content-item img:hover {
    cursor: pointer;
}

@media (max-width: 1450px) {
    .content-items {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 1120px) {
    .content-items {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 700px) {
    .content-items {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 1080px) {
    .nav-mobile {
        display: block;
    }

    .nav-main {
        display: none;
    }
}

@media (max-width: 1024px) and (min-width: 604px) {
    .top-header {
        height: 160px;
    }

    .top-header h1 {
        font-size: 50px;
    }

    .nav-secondary {
        margin-top: 220px;
    }
}

@media (max-width: 604px) {
    .top-header {
        height: 110px;
    }

    .top-header h1 {
        font-size: 28px;
    }

    .nav-secondary {
        margin-top: 170px;
    }

    .nav-secondary span {
        font-size: 15px;
    }
}